/* main app */

/* variables */

:root {
  --background-color: #1d1d1d;
  --background-color-rgb: 29, 29, 29;
  --edge-opacity: 0.5;
  --text-color: #e3e9f5;
  --user-text-color: #a9a9a9;
  --modal-background-color: #c8c8c8;
  --main-game-width: 60%;
}

.App {
  text-align: center;
  width: 100%;
  border: 0px solid white;
}

html, body {
  background-color: var(--background-color);
  text-align: center;
  font-family: 'Handjet', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.text {
  color: var(--text-color);
}

.user-text {
  color: var(--user-text-color);
}


/* buttons */
.button {
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  /* ragged edges */
  clip-path: polygon(3% 0, 7% 1%, 11% 0%, 16% 2%, 20% 0, 23% 2%, 28% 2%, 32% 1%, 35% 1%, 39% 3%, 41% 1%, 45% 0%, 47% 2%, 50% 2%, 53% 0, 58% 2%, 60% 2%, 63% 1%, 65% 0%, 67% 2%, 69% 2%, 73% 1%, 76% 1%, 79% 0, 82% 1%, 85% 0, 87% 1%, 89% 0, 92% 1%, 96% 0, 98% 3%, 99% 3%, 99% 6%, 100% 11%, 98% 15%, 100% 21%, 99% 28%, 100% 32%, 99% 35%, 99% 40%, 100% 43%, 99% 48%, 100% 53%, 100% 57%, 99% 60%, 100% 64%, 100% 68%, 99% 72%, 100% 75%, 100% 79%, 99% 83%, 100% 86%, 100% 90%, 99% 94%, 99% 98%, 95% 99%, 92% 99%, 89% 100%, 86% 99%, 83% 100%, 77% 99%, 72% 100%, 66% 98%, 62% 100%, 59% 99%, 54% 99%, 49% 100%, 46% 98%, 43% 100%, 40% 98%, 38% 100%, 35% 99%, 31% 100%, 28% 99%, 25% 99%, 22% 100%, 19% 99%, 16% 100%, 13% 99%, 10% 99%, 7% 100%, 4% 99%, 2% 97%, 1% 97%, 0% 94%, 1% 89%, 0% 84%, 1% 81%, 0 76%, 0 71%, 1% 66%, 0% 64%, 0% 61%, 0% 59%, 1% 54%, 0% 49%, 1% 45%, 0% 40%, 1% 37%, 0% 34%, 1% 29%, 0% 23%, 2% 20%, 1% 17%, 1% 13%, 0 10%, 1% 6%, 1% 3%); 
  user-select: none;
}

.modal-button {
  background-color: white;
  font-size: calc(.75rem + .5vw); /* Relative font size */
}

.modal-button:hover {
  background-color: var(--background-color);
  color: var(--modal-background-color);
}

.home-button {
  background-color: var(--background-color);
  font-size: calc(2rem + 2vw); /* Relative font size */
}

.home-button:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

/* inputs */

.setup-input {
  background-color: var(--background-color);
  border: none; /* Remove default borders */
  color: var(--text-color); /* Set text color */
  border-bottom: 2px solid var(--text-color); /* Add a line below */
  padding: 5px 0; /* Add some padding */
  outline: none; /* Remove default outline */
  width: 60%; /* Full width */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  font-size: calc(1rem + .5vw); /* Relative font size */
  font-family: 'Handjet', sans-serif;
  text-align: center;
}

.setup-input::placeholder {
  color: var(--text-color); /* Set placeholder color */
  opacity: 0.5; /* Make placeholder slightly transparent */
}

.setup-input:focus {
  border-bottom-color: var(--text-color); /* Keep the line color on focus */
  animation: blink-cursor 1s step-end infinite; /* Blinking cursor */
}

.setup-input-header {
  font-size: calc(2rem + 1.5vw); /* Relative font size */
  user-select: none;
}

.user-input {
  background-color: (var(--background-color-rgb), var(--edge-opacity));
  border: none; /* Remove default borders */
  padding: 5px 0; /* Add some padding */
  outline: none; /* Remove default outline */
  width: var(--main-game-width); /* Full width */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  font-size: calc(1rem + .5vw); /* Relative font size */
  font-family: 'Handjet', sans-serif;
  text-align: left;

}

/* text */

.header {
  font-size: calc(5rem + 5vw); /* Relative font size */
  user-select: none;
}

.title {
  font-size: calc(1rem + 1.5vw); /* Relative font size */
  user-select: none;
}

.paragraphs {
  font-size: calc(1rem + .5vw); /* Relative font size */
  user-select: none;
  line-height: 1.3;
}



/* containers */

.container {
  border: 0px solid #e3e9f5;
  box-sizing: border-box;
  padding-left: 0%;
  padding-right: 0%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* for both the title and the user input - at the top and bottom */
.edge-container {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 0px solid #e3e9f5;
  background-color: rgba(var(--background-color-rgb), var(--edge-opacity)); 
  box-shadow: 0 0 5px 10px rgba(var(--background-color-rgb), var(--edge-opacity));
  padding: 0%;
}

.header-container {
  top: 0;
  padding-top: 2%;
}

.footer-container {
  bottom: 0;
  padding-bottom: 3%; 
}

.main-game {
  width: var(--main-game-width);
}


/* loading */ 

.dot {
  animation: blink 1.4s infinite both;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%, 20%, 50%, 80%, 100% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
}